h1
{
    margin: auto;
    text-align: center;
    background:black;
    padding: 1%;
    border: 5px solid white;
    width: 30%;

}

body
{
    margin:0;
    padding:0;
    background-color: black;
    width:100%;
    height:100%;
    color: white;

}

img
{
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 40%;
    padding: 3%;

}

h2
{
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid white ;
}

p
{
    margin: auto;
    text-align: center;
}

#tracks
{
    display: block;
    width: 20%;
    float: left;
    border: 1px solid white ;
    height: 400px;
    box-sizing: border-box;
    margin-left: 12.5%;
    margin-top: -25%;
    color: white;
}

h3
{
    margin: auto;
    text-align: center;
    border: 1px solid white ;
    color: white;
    background: black;
    font-size: 150%;
}

#review
{
    width: 20%;
    float: right;
    border: 1px solid white ;
    height: 400px;
    box-sizing: border-box;
    margin-right: 12.5%;
    margin-top: -25%;
}

h4
{
    margin: auto;
    text-align: center;
    border: 1px solid white ;
    color: white;
    background: black;
    font-size: 150%;
}

#purchase 
{
    display: block;
    width: 20%;
    float: left;
    padding: 1px ;
    margin: auto;
/*Webiste used to link to is the official website fo this album*/
}

#home
{
    display: block;
    width: 20%;
    height: 30%;
    float: right;
    padding: 100px 10px 20px 20px;
}

#desc
{
    margin: auto;
    text-align: center;
    border: 1px solid white ;
    width: 30%;    
}

a 
{
    display: block;
    color:white;
    text-decoration: none;
}

@media screen and (min-width:100%) and (max-width:100%) {
}